<div class="new-commit-form">
  <%= form_with model: [@task, @commit], local: true do |f| %>
    <%= render partial: '/shared/error_messages', locals: { model: @commit } %>
    <div class="form-group">
      <%= f.text_area :content, autofocus: true, class: "form-control", placeholder: "コミットを入力\n例) p.○○ : 課題の分離とは…である。", style: "height: 80px;" %>
    </div>
    <button class="btn btn-secondary btn-sm">
      コミット
    </button>
  <% end %>
</div>