<div class="col-xl-2 col-lg-3 col-md-3 col-5 mr-3 mb-3 shadow px-0">
  <%= link_to task_path(permitted_task), style: "text-decoration: none;", class: "w-100" do %>
    <div class="card-body">
      <p class="card-title text-overflow">
        <%= permitted_task.title %>
      </h5>
      <p class="card-text text-overflow">
        <%= permitted_task.user.nickname %>
      </p>
    </div>
  <% end %>
</div>