<div class="card card-margin" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= task.title %>
    </h5>
    <p class="card-text">
      <%= task.purpose %>
    </p>
    <p class="card-text">
      <%= task.goal %>
    </p>
  </div>
</div>