<div class="card card-config shadow-sm" style="width: 16rem;">
  <%= link_to task_path(task), style: "text-decoration: none" do %>
    <div class="card-body", style="color: black;">
      <h5 class="card-title">
        <%= task.title %>
      </h5>
      <p class="card-text">
        <%= task.purpose %>
      </p>
    </div>
  <% end %>
</div>