<div class="card card-config shadow-sm">
  <%= link_to task_path(task), style: "text-decoration: none;  height: 100%;" do %>
    <div class="card-body" style="color: black;  height: 100%;">
      <h5 class="card-title">
        <%= task.title %>
      </h5>
      <p class="card-text">
        <%= task.purpose %>
      </p>
    </div>
  <% end %>
</div>