  <div class="container">

    <%# タスク一覧表示部分 %>
    <div class="tasks-index-title"><i class="fas fa-list-alt"></i> タスク一覧</div>
    <div class="tasks-wrapper">
      <div class="card card-margin" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Funahashi2012論文</h5>
          <p class="card-text">まとめる</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card card-margin" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">2</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card card-margin" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">3</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card card-margin" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">4</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <%# /タスク一覧表示部分 %>

  </div>