  <div class="container">

    <%# タスク一覧表示部分 %>
    <div class="tasks-index-title"><i class="fas fa-list-alt"></i> タスク一覧</div>
    <div class="tasks-wrapper">
      <%= render partial: 'task', collection: @tasks %>
    </div>
    <%# /タスク一覧表示部分 %>

  </div>