<%# 自分で作成したタスク一覧 %>
<div class="my-tasks-wrapper">
  <div class="tasks-index-title">
    <i class="fas fa-list-alt"></i> マイタスク
  </div>
  <%= link_to new_task_path do %>
    <i class="fas fa-plus-circle"></i> 新規作成
  <% end %>
  <%# タスク一覧表示部分 %>
  <div class="row w-100 margin-reset">
    <%= render partial: 'tasks/task', collection: @my_tasks %>
  </div>
</div>

<%# 閲覧許可されたタスク一覧 %>
<div class="permitted-tasks-wrapper">
  <div class="tasks-index-title">
    <i class="fas fa-user-check"></i> レビュー中タスク
  </div>
  <%# タスク一覧表示部分 %>
  <div class="tasks-wrapper">
    <%# permission機能実装後にcollectionを変更 %>
    <%= render partial: 'tasks/task', collection: @permitted_tasks %>
  </div>
</div>