<div class="container">
  <div class="welcome">
    <h1>Home#top</h1>
    <p>Find me in app/views/home/top.html.erb</p>
    <i class="fab fa-accessible-icon"></i>
    <button type="button" class="btn btn-secondary">Secondary</button>
  </div>
</div>