.form-title {
  text-align: center;
}


.form-wrapper {
  margin: 0 auto;
}


.form-submit-btn {
  margin-top: 25px;
  width: 100%;
}


.link-below-user-form {
  margin-top: 10px;
  display: block;
  text-align: center;
}