.tasks-index-title {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
  font-size: 20px;
}

.tasks-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-margin {
  margin: 0 16px 16px 0;
}