// tasks#index(home/_sign_in_top)
.my-tasks-wrapper {
  margin-bottom: 100px;
}

.tasks-index-title {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
  font-size: 20px;
}

.tasks-wrapper {
  display: flex;
  flex-wrap: wrap;
}

// tasks/_task.html.erb
.card-config {
  width: 16rem;
  margin: 0 16px 16px 0;
}

.card-body:hover {
  background-color: lightgrey;
  transition: 0.5s;
}


//////////////////////////////
// tasks/show.html.erb
.tasks-show-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.task-info-and-commit-log-wrapper {
  width: 65%;
}

.task-info-wrapper {
  background-color: #b9d7ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid darkgray;
  padding: 10px;
}

// .each-task-info {
  
// }

.task-title-wrapper {
  margin-bottom: 20px;
  h4 {
    margin: 0px;
  }
}


.task-purpose-wrapper {
  margin-bottom: 20px;
  p {
    margin: 0;
    padding-left: 15px;
  }
}


.task-goal-wrapper {
  p {
    // simple_formのpタグのmarginを消す(bootstrapのreset)
    margin: 0;
    padding-left: 15px;
  }
}


// コミットログ＆メッセージ
// コミット一覧
.commit-log-wrapper {
  margin-top: 50px;
  padding: 10px 10px 10px;
  // background-color: #f9c8ff;
  border-radius: 10px;
}


.commit-log-title {
  margin: 0;
}


.commit-log-title-and-button-wrapper {
  margin-bottom: 10px; 
}


.new-commit-form {
  padding-bottom: 10px;
  margin: 10px 0px 15px;
  border-bottom: 1px solid lightgray;
}


// コミット新規作成フォームのテキストエリア
.commit-textarea {
  width: 100%;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}


// コミット文が長いときは折り返す
.commit-over-flow-wrap, .message-over-flow-wrap {
  overflow-wrap: break-word;
  p {
    margin: 0;
  }
}

// 右側ブロックの設定
.reviewer-and-message-wrapper {
  padding-left: 5px;
  border-left: 1px solid lightgray;
}


// レビュアー部分
.reviewer-wrapper {
  padding-bottom: 20px;
  width: 350px;
  h4 {
    border-bottom: 1px solid darkgray;
  }
}


// レビュアーリスト
.reviewer-list {
  padding-left: 0px;
  margin: 0px 0px 10px;
  list-style: none;
}


// それぞれのレビュアー
.each-reviewer {
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: 5px;
  background-color: rgb(200, 240, 255);
  border: 1px solid lightgray;
  border-radius: 10px;
}


.reviewer-delete-link {
  text-decoration: none;
  color: black;
}


// レビュアー追加ボタン
.add-reviewer-btn{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  border: 1px solid lightgray;
}



// メッセージ部分
.message-wrapper {
  margin-top: 10px;
  // background-color: darkgray;
  width: 350px;
}


.message-form-title {
  border-bottom: 1px solid darkgray;
}


.message-lists {
  padding: 0px;
  list-style: none;
}


.each-message-wrapper {
  margin: 5px 0px 20px;
  p {
    margin: 0px;
  }
}

.each-message-sender, .each-message-time {
  display: inline-block;
  color: gray;
  font-size: 13px;
}