<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="header-contents">
      <div class="header-title">
        <%= link_to "TasQ", root_path, class: "navbar-brand"%>
      </div>
      <div class="header-buttons">
        <%# if user_signed_in? %>
          <%= link_to "#", class: "btn btn-light header-btn" do %>
            ログアウト <i class="fas fa-sign-out-alt"></i>
          <% end %>
        <%# else %>
          <%= link_to "#", class: "btn btn-light header-btn" do %>
            新規登録 <i class="fas fa-user-plus"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-light header-btn" do %>
            ログイン <i class="fas fa-sign-in-alt"></i>
          <% end %>
        <%# end %>
      </div>
    </div>
  </div>

</header>